<a href="https://colab.research.google.com/github/Pratheek19/Assignment/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

Boolean data type are true and false.

True = 1

False = 0


print(bool(a<b))

print(bool(a==b))

In [ ]:
a= 5
b= 10

print(bool(a<b))

print(bool(a==b))

True
False

2. What are the three different types of Boolean operators?

AND, OR , NOT

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

  ANS: True=1 , False= 0

NOT         
______
X | X'

------

0 | 1

1 | 0


AND

__________
0  |  0  = 0

0  |  1  = 0

1  |  0  = 0

1  |  1  = 1

OR

___________
0  |  0  =  0

0  |  1  =  1

1  |  0  =  1

1  |  1  =  1

4. What are the values of the following expressions?

In [ ]:
ANS:

In [ ]:
(5 > 4) and (3 == 5)

False

In [ ]:
not (5 > 4)

False

In [ ]:
(5 > 4) or (3 == 5)

True

In [ ]:
not ((5 > 4) or (3 == 5))

False

In [ ]:
((True and True) and (True == False))

False

In [ ]:
(not False) or (not True)

True

5. What are the six comparison operators?

ANS:

Equal to  ==

Not equal to !=

Great than  >

lesser than  <

Greater or equal to  >=

lesser or equal to   <=

6 . How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

ANS:

=  Equal to is used to assign a value to a operator

==  Is used to compare the values of borth the variables and the result will true or false.

In [ ]:
A= 2
B= 3

print("sum of ", A+B )

sum of  5

In [ ]:
A= 2
B= 3

if A==B:
  print(" A is equal to B")
else :
  print("A is not equal to B ")

A is not equal to B

7. Identify the three blocks in this code:

In [ ]:
spam = 0
if spam == 10:    # Block 1
   print('eggs')  # Block 1
if spam > 5:          # Block 2
   print('bacon')    # Block 2
else:               # Block 3
   print('ham')    # Block 3
print('spam')       # Not part of block
print('spam')       # Not part of block

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [ ]:
Spam = int(input())


if Spam == 1 :
   print("Hello")
elif Spam == 2 :
    print("Howdy")
else :
    print("Greetings")

4
Greetings

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

ANS :  

 CTRL + C

10. How can you tell the difference between break and continue?

ANS:

Break : Breaks out of the loop competely.

Continue : Breaks out of the current loop iteration, and continues to the next iteration.

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

ANS:

Here all the three Types gives the same output.


range(10) means prints number from 1-9 (Here its fixed range)


range(0, 10) means print starts from 0- 9, Here the first vale is changed to 1 means the print willl start from 1 - 9. (Here the range is varied from starting point and ending point)

range(0, 10, 1) Means the print starts from 0 - 9 in positive direction with single jumps.
(Here the range is varied from starting point and ending point with jump)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

ANS:

In [ ]:
N=11
for i in range(1, N):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
count = 1
while count <=10:
  print(count)
  count +=1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

ANS:

import spam

spam.bacon()